body {
    background-color: #FFE4CF;
    margin:0;
    padding:0;
}

div{
    margin: auto;
    text-align: center;
}

.heading {
    background-color: #E72929;
    color: #FFFDD7;
    border: 2px solid black;
    margin: 32px 115px;
    border-radius: 25px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.heading:hover {
    animation: easter 1s infinite;
}

.intro{
    font-size: 22px;
    
}

img{
    margin: 32px auto;
    height:auto;
    width: 50%;
}


.rep{
    display: inline-block;
    background-color: #FF5BAE;
    font-size: 25px;
    margin-top: 2rem;
    margin: 16px;
    padding: 14px;
    border-radius: 20px;
}

.rep:hover{
    transition: transform 0.1s ease;
    transform: scale(1.2);
}


a{
    color: #FFFDD7;
    text-decoration: none;
}





@keyframes ani
{
    0%{
        color: honeydew;
    }

    25%{
        color: pink;
    }

    50%{
        color: red;
    }

    75%{
        color: orange;
    }


}

@keyframes easter {
    
    0%{
        color: pink;
        font-size: 30px;
    }

    20%{
        color: lightskyblue;
        font-size: 35px;
    }

    40%{
        color: rgb(233, 91, 119);
        font-size: 40px;
    }

    60%{
        color:violet;
        font-size: 35px;
    }

    80%{
        color: rgb(251, 235, 146);
        font-size: 30px;
    }

}