body {
    background-color: rgb(229, 232, 190);
}

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img{
    height:auto;
    width: 35%;
}

a{
    border: 1px dashed black;
    padding: 1em;
    background-color: rgb(211, 190, 115);
}

.palak {
    color: green;
}

.butter{
    color : rgb(181, 66, 24);
}

.pasta{
    color: grey;
}